<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Short link</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;700&display=swap" rel="stylesheet">
  </head>
  <body>
      <main class="content">
          <div class="content__inner">
            <h1 class="content__heading">#shortlink</h1>
            <form class="content__form" >
                <input type="url" placeholder="Shorten your link" class="form__input" id="input" required>
                <button type="button" class="form__button" id="button" disabled>short</button>
            </form>
            <p class="content__message" id="message"></p>
            <ul class="content__history" id="history"></ul>
        </div>
      </main>
	<script th:src="@{/js/script.js}"></script>
  </body>
</html>